.App {
  text-align: center;
}

.operator{
  width: 500px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hiden-container{
  height: 0px;
  overflow: hidden;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.max_width{
  max-width: 800px;
}
.hidden{
  position: fixed;
  z-index: -9999;
}

.preview > .preview-img{
  width: 100%
}

.date-card-container{
  position: absolute;
}
.date-card{
  width: 210px;
}
.date-card-header{
  display: flex;
  width: 100%;
}
.date-card-header > .date-card-header-item{
  width: calc(100% / 7);
  text-align: center;
  color: #fff;
}
.date-card-body{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.date-card-body > .date-item{
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
}

.date-card .is-holiday{
  color: #60d36d;
}